  .App{
    height: 95vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card {
  background: #1A1B21;
  height: 550px;
  width: 400px;
  /* border: 1px solid #cacbd4; */
 
}
.profileimage {
  position: absolute;
  display: block;
  width: 230px;
  height: 230px;
  background: url(./img.png) no-repeat;
  background-position: top;
  background-size: contain; 
  margin-top: 10px;
  margin-left: 80px;
  border-radius: 10px 10px 10px 10px;
}
.name{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
text-align: center;

color: #FFFFFF;
position: absolute;
width: 20px;
height: 20px;
position: absolute;
margin-left: 80px;
margin-top:235px ;
white-space: nowrap;

}
.field{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 15px;
text-align: center;

color: #F3BF99;
position: absolute;
width: 20px;
height: 20px;
position: absolute;
margin-left: 135px;
margin-top:277px ;
white-space: nowrap;
}
.website{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* identical to box height, or 15px */

text-align: center;

color: #F5F5F5;
position: absolute;
width: 20px;
height: 20px;
position: absolute;
margin-left: 160px;
margin-top:300px ;
white-space: nowrap;
text-decoration: none;
}